#block_onlineexam_exams_content:before {
}

.block_onlineexam_glasses. fa-search-plus:before {
    display: block;
    cursor: pointer;
    position: absolute;
    right: -10px;
    bottom: -10px;
    font-size: 23px;
}
