body {
    font-family: Arial, Helvetica;
    color: #444;
    margin: 0px;
    padding: 0px;
}

div.block_onlineexam_text {
    padding-top:20px;
    position:absolute;
    width:100%;
    text-align:center;
}

.block_onlineexam_area{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
}

.block_onlineexam_examsexist {
    cursor: pointer;
}

.block_onlineexam_circle {
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 110px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    
    background-image: url("../images/EvaExam_2.png");
    background-position: center center;
    background-size: 110px 110px;
    background-color: transparent !important;
}

.block_onlineexam_area.block_onlineexam_examsexist .block_onlineexam_circle{
    background-image: url("../images/EvaExam_1.png");
}

.block_onlineexam_number {
    font-size: 33px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
}

.block_onlineexam_glasses{
    display: none;
    position: absolute;
    bottom: 0px;
    right: -10px;
    font-size: 23px;
}
